<div class="full">
<!-- Row -->
<div class="row">
    <!-- Grid column -->
    <div class="col-md-10 mt-5 mb-5">
        <img src="../../assets/img/mdb.png" alt="Responsive mdb image">
        <h1>404. That's an Error!</h1>
        <h4>The requested URL was not found.</h4>
    </div>
</div>
</div>
