<!--Main Navigation-->
<header>
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar"
    [containerInside]="false">
    <!-- Navbar brand -->
      <a class="navbar-brand ml-2" mdbWavesEffect href="https://mdbootstrap.com/docs/jquery/" target="_blank">
        <strong class="blue-text">MDB</strong>
      </a>

      <!-- Links -->
      <links>
        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" mdbWavesEffect routerLink="">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="https://mdbootstrap.com/docs/jquery/" target="_blank">About
              MDB</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="https://mdbootstrap.com/docs/jquery/getting-started/download/"
              target="_blank">Free
              download</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="https://mdbootstrap.com/education/bootstrap/" target="_blank">Free
              tutorials</a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="https://www.facebook.com/mdbootstrap" class="nav-link waves-effect" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://twitter.com/MDBootstrap" class="nav-link waves-effect" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/mdbootstrap/bootstrap-material-design"
              class="nav-link border border-light rounded waves-effect" target="_blank">
              <i class="fab fa-github mr-2"></i>MDB GitHub
            </a>
          </li>
        </ul>
      </links>
  </mdb-navbar>
  <!--/.Navbar-->

  <!-- Sidebar -->
  <div class="sidebar-fixed position-fixed">

    <a class="logo-wrapper waves-effect">
      <img src="../../assets/img/mdb.png" class="img-fluid" alt="">
    </a>

    <div class="list-group list-group-flush">
      <a mdbWavesEffect routerLink="dashboard" routerLinkActive="active" class="list-group-item list-group-item-action">
        <i class="fas fa-chart-pie mr-3"></i>Dashboard
      </a>
      <a mdbWavesEffect routerLink="profile" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
        <i class="fas fa-user mr-3"></i>Profile</a>
      <a mdbWavesEffect routerLink="tables" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
        <i class="fas fa-table mr-3"></i>Tables</a>
      <a mdbWavesEffect routerLink="maps" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
        <i class="fas fa-map mr-3"></i>Maps</a>
      <a mdbWavesEffect routerLink="orders" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
        <i class="fas fa-money-bill-alt mr-3"></i>Orders</a>
    </div>

  </div>
  <!-- Sidebar -->

</header>
<!--Main Navigation-->