<div style="display: block">
<canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels"
[colors]="chartColors" [options]="chartOptions" [legend]="true">
</canvas>
</div>

